* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}


/* General */
html {
    padding: 4rem;
}

p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Nav */


#nav {
    background-color: green;
}

#nav ul{
    display: flex;
    justify-content: space-around;
}

#nav ul li {
    padding: 1%;
    list-style: none;
}

/* Main */

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.me {
    width: 300px;
}

/* Mobil */

@media (max-width: 767px) {
    .hidden {
        display: none;
    }

}
