* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}


/* General */
html {
    padding: 4rem;
    background-color: rgb(245,245,245);
}

p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Nav */


#nav {
    background-color: green;
}

#nav ul{
    display: flex;
    justify-content: space-around;
}

#nav li {
    padding: 1%;
    list-style: none;
    background-color: rgb(235,248,235);
    margin: 0.5%;
    border-radius: 20%;
}

#nav a {
    text-decoration: none;
    color: black;
}

#nav-toggle {
    display: none;
}

/* Main */

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.me {
    width: 300px;
    float: right;
}

/* footer */

footer {
    clear: both;
}

/* Mobil */

@media (max-width: 767px) {
    .hidden {
        display: none;
    }

    #nav ul {
        flex-direction: column;
        text-align: center;
    }

    #nav-toggle {
        display: block;
    }

}
