* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}


/* General */
html {
    background-color: rgb(245,245,245);
}

p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main {
    padding: 4rem;
}

/* header */

.flash-img {
    width: 100%;
}

.header-text {
    margin-top: -0.5%;
    position: relative;
    padding: 5%;
    text-align: center;
    background-image: radial-gradient(rgba(66,92,78,0), rgba(66,92,78,0.4));

}

.site-name {
    display: block;
    color: rgb(10,40,15);
    font-size: 4em;
}

.tagline {
    display: block;
    font-size: 1.2em;
    text-align: center;
    color: rgb(10,40,15);
}


/* Nav */
.slide {
    overflow-y: hidden !important;
    -webkit-transition: height 0.5s ease-in !important;
    transition: height 0.5s ease-in !important;
}

#nav {
    background-color: #354538;
    height: 4.6em;
}

#nav ul{
    display: flex;
    justify-content: space-around;
}

#nav li {

    list-style: none;

}

#nav a {
    display: block;
    height: 2.2em;
    width: 5em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    background-color: rgb(225,238,225);
    border-radius: 20%;
    margin-top: 0.7em;
    padding-top: 10%;

}

#nav-toggle {
    display: none;
}

/* Main */

main {
    min-height: 80vh;
    line-height: 1.4;
    font-size: 1.2em;
}

.text-part {
    margin-top: 2%;
    float: left;
    width: 60%;
}

.me {
    width: 30%;
    float: right;
}

/* undermeny */

main ul {
    list-style: none;
}

/* footer */

footer {
    clear: both;
    text-align: center;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
}

.social {
    margin-top: 1.4%;
    margin-left: 0.5%;
}



/* Mobil */

@media (max-width: 767px) {

    .me {
        float: none;
        width: 100%
    }

    .text-part {
        float: none;
        width: 100%;
    }

    .hidden {
        display: none;
    }

    #nav {
        height: auto;
    }

    #nav ul {
        flex-direction: column;
    }

    #nav li {
        margin-left: auto;
        margin-right: auto;
    }

    #nav a {
        margin: 10%;
        padding: 10%;
    }

    #nav-toggle {
        display: block;
    }

}
