footer {
    clear: both;
    text-align: center;
    padding-bottom: 5%;

    .social a {
        padding-left: 1%;
        padding-right: 1%;
        text-decoration: none;
        color: $link-color;
    }
}
