

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav {
    background-color: $header-color;
    height: 4.8em;

    ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
    }

    li {

        list-style: none;

    }

    a {
        display: block;
        height: 2.8rem;
        min-width: 6rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.3rem;
        background-color: $background-nav;
        border-radius: 20%;
        margin-top: 1rem;
        position: relative;
        color: $text-color;
    }

    .navchoice {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.nav-toggle {
    display: none;
    font-size: 125%;
    padding: 0.5rem 2rem;
}
