.kmomxx {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;

}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
