/*
$racing-green: #214e34;
$grass-green: #354538;
$pale-spring-green: #edeec0;
$cinereous: #93827f;
$dark-purple: #30011e;

$iketic: #14080e;
$light-grey: rgb(245, 245, 245);
*/

$line-color: #93827f;
$header-color: #354538;
$background-color: rgb(245, 245, 245);
$text-color: #14080e;
$accent-color: #30011e;
$background-nav: rgb(225, 238, 225);

$line-color: #93827f;
$header-color: #354538;
$background-color: rgb(245, 245, 245);
$text-color: #14080e;
$accent-color: complement($header-color);
$background-nav: rgb(225, 238, 225);
$tagline-color: #354538;
$link-color: #14080e;

$header-background-light: rgb(red($header-color), green($header-color), blue($header-color));
$header-background-dark: rgba(red($background-color), green($background-color), blue($background-color), 0.5);
