@import 'variables';

.container-kmom {
    display: flex;
}


.nav-sub-menu {
    label {
        display: none;
    }
}

.sub-menu {
    width: 10rem;
    a {
        text-decoration: none;
        color: $dark-purple;
        font-size: 110%;
    }

    ul {
        list-style: none;
        padding: 0;

    }
    li {
        padding-top: 1rem;
    }

}

.checkbox {
    display: none;
}



@media (max-width:600px) {
    .container-kmom {
        flex-direction: column;
    }

    .container {
        padding-top: 0%;
    }

    .nav-sub-menu {
        border: 1px solid $cinereous;
        border-radius: 0.8rem;

        label {
            display: block;
            text-align: right;
            padding: 1rem;
            color: $dark-purple;
        }

        .sub-menu {
            display : none;

        }

        .checkbox:checked + .sub-menu {
            margin-left: 25px;
            display: block !important;

        }


    }


}
