@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@import '../../node_modules/normalize.css/normalize';
@import 'navbar';
@import 'variables';

$header-background-light: rgb(red($grass-green), green($grass-green), blue($grass-green));
$header-background-dark: rgba(red($light-grey), green($light-grey), blue($light-grey), 0.5);

body {
    background-color: $light-grey;
}

.flash-img {
    width: 100%;

}

.header-text {
    width: 100%;
    height: 15rem;
    background-image: radial-gradient($header-background-dark, $header-background-light);
    margin-top: -0.3rem;
    color: $grass-green;
    text-align: center;
    position: relative;

    .site-name {
        color: $dark-purple;
        display: block;
        font-size: 4.5rem;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Parisienne', cursive;
    }

    .tagline {
        display: block;
        font-size: 2rem;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.container {
    padding: 5%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    line-height: 1.2;

    h1, p {
        box-sizing: border-box;
        width: 70%;
        float:left;
        padding-right: 5%;
    }

    h2, p img {
        padding-top: 1%;
        margin-left: -2%;
    }



}

h1, h2 {
    color: $xiketic;
}


.text-part {
    box-sizing: border-box;
    width: 75%;
    float:left;
    min-height: 800px;
    padding-right: 3%;
}

.me {
    color: $racing-green;
    box-sizing: border-box;
    width: 25%;
    float: right;


}

footer {
    clear: both;
    text-align: center;
}
