$racing-green: #214e34;
$grass-green: #354538;
$pale-spring-green: #edeec0;
$cinereous: #93827f;
$dark-purple: #30011e;
$xiketic: #14080e;
$light-grey: rgb(245, 245, 245);

$header-background-light: rgb(red($grass-green), green($grass-green), blue($grass-green));
$header-background-dark: rgba(red($light-grey), green($light-grey), blue($light-grey), 0.5);
